<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDkRpGdqP28rb8ooXheNN5NJSUo0q9jymo</string>
	<key>GCM_SENDER_ID</key>
	<string>988643723288</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ifloop.MyMessaging</string>
	<key>PROJECT_ID</key>
	<string>my-messaging1</string>
	<key>STORAGE_BUCKET</key>
	<string>my-messaging1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:988643723288:ios:8d1e3dde4486b49081db6d</string>
</dict>
</plist>